.DS_Store
**/.DS_Store

http-requests-mirroring

build.log

prod-query-api.yaml
prod-upload-api.yaml
acc-query-api.yaml
acc-upload-api.yaml

prod-query-api2.yaml
prod-upload-api2.yaml
acc-query-api2.yaml
acc-upload-api2.yaml
old/*
system.log

replay007.pcap
replay008.pcap
replay-handler.log